@model StackAGoal.ViewModels.GoalFormViewModel
@{
    ViewData["Title"] = "New";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_dashboard.cshtml";

}

<h2>New Goal</h2>

@using (Html.BeginForm("Save", "Goals"))
{

    <div class="form-group">
        @Html.LabelFor(g => g.Goal.Title)
        @Html.TextBoxFor(g => g.Goal.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(g => g.Goal.Title)
    </div>

    <div class="form-group">
        @Html.LabelFor(g => g.Goal.Description)
        @Html.TextAreaFor(g => g.Goal.Description, new { @class = "form-control" })
    </div>
    <div class="form-group">

        @Html.LabelFor(g => g.Goal.StartDate)
        @Html.TextBoxFor(g => g.Goal.StartDate, new { @class = "form-control" })
        @Html.ValidationMessageFor(g=> g.Goal.StartDate)
    </div>



    <div class="form-group">
        @Html.LabelFor(c => c.Goal.Category)
        @Html.DropDownListFor(c => c.Goal.CategoryId, new SelectList(Model.Categories, "Id", "Name"), "Select a Category", new { @class = "form-control" })

    </div>

    <button type="submit" class="btn btn-primary"> Save </button>

    @Html.HiddenFor(g => g.Goal.Id)
    @Html.AntiForgeryToken();

}





