@model IEnumerable<StackAGoal.Core.Models.Goal>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_dashboard.cshtml";
}

@if (Model.Count() > 0 == false)
{
    <p>No Goals available.</p>
}
else
{
<div class="content-panel">
    <div class="dashboard-card">
        <h3>Goals</h3>
        <hr />
        <div class="goals-container">
            @for(int i= 0; i < Model.Count(); i++)
            {
                var goal = Model.ElementAt(i);
                <div class="goal-card clearfix" data-goal-card-id="@i">
                    <div class="goal-card-top">
                    </div>
                    <div class="goal-title">
                        @goal.Title
                    </div>
                    <div class="goal-top-panel clearfix">
                        <div class="goal-done">
                            @if(goal.IsComplete)
                            {
                                <img style="display: inline-block;width: 50px;margin:0;height: auto;" src="~/images/singlegoalcompletedicon.png">
                            }                            
                        </div>
                        <div class="goal-card-option-container">
                            <div class="goal-card-menu-option">
                                <a asp-controller="Goals" asp-action="UpdateGoal" asp-route-id="@goal.Id">Edit</a>
                            </div>
                            <div class="goal-card-menu-option">
                                <a asp-controller="Goals" asp-action="DeleteGoal" asp-route-id="@goal.Id">Delete</a>
                            </div>
                        </div>
                    </div>


                    <div class="goal-more-details-panel">
                        <button class="goal-more-details-btn btn btn-link" style="color:skyblue;" href="">
                            More Details >>
                        </button>
                    </div>
                    <div class="goal-card-more-details-container">
                        <div class="goal-card-header">
                            <button class="goal-details-btn btn btn-link">Description >> </button>
                        </div>
                        <div class="goal-card-details">
                            @goal.Description
                        </div>

                        <div class="goal-card-header">
                            <button class="goal-details-btn btn btn-link">Category >> </button>
                        </div>
                        <div class="goal-card-details">
                            @(goal.Category != null ? goal.Category.Name : string.Empty)
                        </div>
                        <div class="goal-card-header">
                            <button class="goal-details-btn btn btn-link">Times >> </button>
                        </div>
                        <div class="goal-card-details">
                            Start Date: @string.Format(goal.StartDate.HasValue ? goal.StartDate.Value.ToString("dd/MM/yyyy HH:mm") : string.Empty)
                            <br>
                            Date Completed:@string.Format(goal.DateCompleted.HasValue ? goal.DateCompleted.Value.ToString("dd/MM/yyyy HH:mm") : string.Empty)
                        </div>
                    </div>
                </div>

            }

        </div>
    </div>
</div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="content-panel">
                    <div class="dashboard-card">
                        <div class="dashboard-card__number"><img class="dashboard-card__icon" src="~/images/goalscompletedicon.png">@Model.Count()</div>
                        <div class="dashboard-card__text">Number Of Goals</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="~/js/goalcardcomponent.js"></script>

<script>

    (function () {
        goalCardComponent.initComponent();
    })();

</script>