@model IEnumerable<StackAGoal.Models.Goal>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Goals</h2>
@Html.ActionLink("Add Goal","New","Goals",null,new {@class = "btn btn-primary" })
<table class="table" >
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.Title</td>
        <td>@item.Description</td>
        <td>@item.StartDate</td>
        <td>@Html.ActionLink("Edit Goal", "Edit", "Goals", new { id = item.Id }, new { @class = "btn btn-link" })</td>
        <td>@Html.ActionLink("Delete Goal", "Delete", "Goals", new { id = item.Id }, new { @class = "btn btn-link" })</td>

    </tr>

    }



</table>



